_testdata/XML/Pensions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Pension">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Elements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Employees">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Bands">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Band">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DefaultValues">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="DefaultValue">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Employers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Bands">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Band">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DefaultValues">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="DefaultValue">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AVC">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Bands">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Band">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DefaultValues">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="DefaultValue">
                                  <xs:complexType>
                                    <xs:attribute name="Type" type="xs:unsignedByte" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
            <xs:attribute name="PayrollID" type="xs:string" use="required" />
            <xs:attribute name="SchemeName" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>